@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,500;0,700;0,900;1,400&display=swap');

:root {
  --main-color: #d30ce6e8;
  --secondary-color: #f25effe8;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: 'Kanit', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.title {
  margin-top: 8rem;
  margin-bottom: 2.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.329);
}

.container {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 3px solid var(--main-color);
  border-radius: 24px;
  text-align: center;
  min-width: 200px;
  min-height: 300px;
  padding: 1rem;
}

.rol {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.329);
}

.number {
  font-size: 4rem;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.329);
}

.icon {
  fill: var(--main-color);
  max-height: 80px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  height: 40px;
}

button,
select,
option {
  color: white;
  background-color: var(--main-color);
  border-radius: 12px;
  padding: 14px;
  margin: 4px;
  border: 0px;
  text-transform: uppercase;
  font-weight: 700;
}

button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.counterButton {
  font-size: 2rem;
  min-width: 60px;
  margin: 12px;
}

.buttons {
  text-align: end;
  position: absolute;
  bottom: 2.8rem;
  right: 2rem;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin-top: 4rem;
    flex-direction: column;
  }
  .card {
    max-width: 300px;
    min-height: 400px;
    margin: auto;
  }
  .buttons {
    position: static;
    text-align: center;
    margin: 4rem auto;
  }
  .title {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
  }
}
